<ion-view hide-nav-bar="true">
  <ion-content>
    <div class="text-center">
      <img src="./img/ionic.png">
    </div>
    <div class="row responsive-sm">
      <div class="col">
        <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Email Address" name="email" ng-model="user.email">
        </label>
          <label class="item item-input">
            <input type="text" placeholder="Username" name="username" ng-model="user.username">
          </label>
          <label class="item item-input">
            <input type="password" placeholder="Password" name="password" ng-model="user.password">
          </label>
          <button class="button button-block button-outline button-positive" ng-click="signup()">
            Create Account
          </button>
        </div>
        <div class="row">
          <div class="col col-50"><a ui-sref="login">Login</a></div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
