<ion-view class="has-header" hide-back-button="true" view-title="Browse">
  <ion-content>
    <div class="bar bar-positive bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <input type="search" placeholder="Search">
      </label>
    </div>
    <div class="list" ng-repeat="class in classes">
      <a class="item" ng-click="viewClass(class)">
        <div class="row banner">
        </div>
        <div class="row triangle rating">
          <div class="prof-circle"></div>
          <div review-directive></div>
          <h6>{{ class.reviews.length || 0 }}</h6>
        </div>
        <div class="row describe">
          <div class="col col-75">
            <div class="row">
              <h4>{{ class.name }}</h4>
            </div>
            <div class="row">
              <h6>{{ class.date | date:"MM-dd-yy '@' h:mma"}}</h6>
            </div>
          </div>
          <div class="col col-top rate">
            <h5>${{ class.rate }}</h5>
          </div>
        </div>
      </a>
    </div>
  </ion-content>
</ion-view>