<div>
  <h1>Create Booking</h1>
  <form>

    <div>
      <label for="bookingName">Booking Name: </label>
      <input type="text" name="bookingname" ng-model="booking.name" required>
    </div>

    <div>
      <label for="expertise">expertise: </label>
      <input type="text" name="expertise" ng-model="booking.expertise" required>
    </div>

    <div>
      <label for="rate">rate: </label>
      <input type="text" name="rate" ng-model="booking.rate" required>
    </div>

    <div>
      <label for="availability">availability: </label>
      <input type="text" name="availability" ng-model="booking.availability" required>
    </div>

    <button type="submit" value="Submit" ng-click="createBooking()">Create Booking</button>
  </form>
</div>
