<ion-view>
  <ion-nav-title>{{classInformation.name}}</ion-nav-title>
  <ion-content>
    <div class="class-img-background">
      <div class="menu-profile-image text-center">
        <div class="profile-image"></div>
        <div class="name">Mike Donahue</div>
        <div class="row">
          <div class="row triangle rating rating-transparent">
            <p>
              <i class="ion-star" ng-repeat="i in getStarsLength(classInformation.stars.full) track by $index"></i>
            </p>
            <p class="adjust">
              <i class="ion-ios-star-half" ng-repeat="j in getStarsLength(classInformation.stars.half) track by $index"></i>
            </p>
            <p class="adjust">
              <i class="ion-ios-star-outline" ng-repeat="k in getStarsLength(classInformation.stars.empty) track by $index"></i>
            </p>
          </div>
        </div>  
      </div>
    </div>
    <div class="col profile-container">
      <h4 class="profile-class-title">Description</h4>
      <div class="class-description">{{classInformation.name}}</div>
      <div class="class-description">{{classInformation.description}}</div>
      <h4 class="profile-class-title">Class Details</h4>
      <div class="row">
        <div class="col col-50">
          <div class="row">
            <div class="ion-ios-calendar-outline class-icons"></div>
            <h6 class="class-details">{{ classInformation.date | date:"MM-dd-yy"}}</h6>
          </div>
        </div>  
        <div class="col col-50">
          <div class="row">
            <div class="ion-ios-time-outline class-icons"></div>
            <h6 class="class-details">{{ classInformation.start_time | date:"h'pm-'"}}{{ classInformation.end_time | date:"h'pm'"}}</h6>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-50">
          <div class="row">
            <div class="ion-ios-location-outline class-icons"></div>
            <h6 class="class-details">{{ classInformation.location}}</h6>
          </div>
        </div>  
        <div class="col col-50">
          <div class="row">
            <div class="ion-ios-pricetag-outline class-icons"></div>
            <h6 class="class-details">${{ classInformation.rate }}</h6>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-center">
          <button class="button button-positive book-class" ng-click="bookAndPay()">Book Class</button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

