<ion-view class="login" hide-nav-bar="true">
  <ion-content class="auth-container">
    <div class="row responsive-md auth-padding">
      <div class="login-logo text-center">
        <div class="logo">Transfers</div>
      </div>
      <div class="text-center">
        <span>Account Balance: </span><span>$10</span>
      </div>
      <div class="col">
        <span class="payment-errors">{{error}}</span>
        <div class="list">
          <label class="item item-input bare">
            <i class="icon white ion-ios-world-outline"></i>
            <input type="text" class="text-center" ng-model="transfer.card" placeholder="CARD NUMBER" required>
          </label>
          <label class="item item-input bare">
            <i class="icon white ion-ios-calendar-outline"></i>
            <input type="text" class="text-right" placeholder="MM" ng-model="transfer.month">
            <input type="text" class="text-left" placeholder="YYYY" ng-model="transfer.year">
          </label>
          <label class="item item-input bare">
            <i class="icon white ion-ios-locked-outline"></i>
            <input type="text" class="text-center" placeholder="CVC" ng-model="transfer.cvc">
          </label>
          <button name="account" class="button button-large button-stable button-block account-button" value="Submit" ng-click="transfer()">
            Request $10.00
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>


