<ion-view>
  <ion-nav-title>{{teacher.first_name}} {{teacher.last_name || 'Profile'}}</ion-nav-title>
  <ion-content>
    <div class="profile-img-background">
      <div class="menu-profile-image text-center">
        <div class="profile-image" ng-style="{'background-image': 'url(' + teacher.picture_url + ')'}"></div>
        <div class="row">
          <div class="col col-30">
            <div class="teacher-rating">{{ teacher.classes.length || "0" }}</div>
            <div class="teacher-classes">Classes</div>
          </div>  
          <div class="col col-30">
            <!-- <div class="teacher-rating">4</div> -->
            <div class="teacher-rating">{{ teacher.avg_rating | number:1 || "0" }}</div>
            <div class="teacher-classes">Rating</div>
          </div>
          <div class="col col-30">
            <div class="teacher-rating">{{ teacher.total_ratings || "0" }}</div>
            <div class="teacher-classes">Reviews</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col profile-container">
    <h4 class="profile-skills-title">SKILLS</h4>
    <div class="list" ng-repeat="skill in teacher.skills">
      <div class="item item-profile">
        <div class="row describe">
          <div class="col col-30">
            <button class="button button-green">{{ skill }}</button>
          </div>  
        </div>
      </div>
    </div>
    <h4 class="profile-classes-title">CLASSES</h4>
      <div class="list" ng-repeat="class in classes">
        <div class="item item-profile">
          <div class="row describe">
            <div class="col col-75">
              <div class="row">
                <h4>{{ class.name }}</h4>
              </div>
              <div class="row triangle rating">
                <h6>{{ class.date | date:"MM-dd-yy '@' h:mma"}}</h6>
                <div review-directive></div>
                <h6>{{ class.reviews.length || 0 }}</h6>
              </div>
            </div>
            <div class="col col-top rate rate-profile">
              <div ng-click="viewClass(class)"><h5>${{ class.rate }}</h5></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

