<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <!-- fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

  <!-- compiled css output -->
  <link href="css/ionic.app.css" rel="stylesheet">

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>
  <script src="lib/angular-facebook/lib/angular-facebook.js"></script>
  <script src="lib/angular-cookies/angular-cookies.min.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>
  <script src="cordova.js"></script>

  <!-- Stripe.js -->
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

  <!-- ionic-rating js -->
  <script src="lib/ionic-rating/ionic-rating.js"></script>

  <!-- your app's js -->
  <script src="app/app.js"></script>
  <script src="app/navigation/NavigationController.js"></script>
  <script src="app/auth/authenticatorService.js"></script>
  <script src="app/state/stateService.js"></script>
  <script src="app/class-manager/classManagerService.js"></script>
  <script src="app/review-manager/reviewManagerService.js"></script>
  <script src="app/collection-manager/collectionManagerService.js"></script>
  <script src="app/user-manager/userManagerService.js"></script>
  <script src="app/login/LoginController.js"></script>
  <script src="app/payment/PaymentController.js"></script>
  <script src="app/payment/paymentService.js"></script>
  <script src="app/signup/SignupController.js"></script>
  <script src="app/browse/BrowseController.js"></script>
  <script src="app/profile/profile-settings/ProfileSettingsController.js"></script>
  <script src="app/profile/profile-view/ProfileViewController.js"></script>
  <script src="app/student/student-manage-schedule/StudentManageScheduleController.js"></script>
  <script src="app/teacher/teacher-booked-classes/TeacherBookedClassesController.js"></script>
  <script src="app/teacher/teacher-create-class/TeacherCreateClassController.js"></script>
  <script src="app/teacher/teacher-edit-class/TeacherEditClassController.js"></script>
  <script src="app/teacher/teacher-manage-classes/TeacherManageClassesController.js"></script>
  <script src="app/teacher/view-class/ViewClassController.js"></script>
  <script src="app/review/ReviewController.js"></script>
  <script src="app/review/reviewDirective.js"></script>
  </head>

  <body ng-app="wildDonut">
    <div ng-controller="NavigationController">
      <ion-side-menus>
        <ion-side-menu-content>
          <ion-nav-bar class="bar-positive">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
              <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left">
              </button>
            </ion-nav-buttons>
          </ion-nav-bar>
          <ion-nav-view></ion-nav-view>
        </ion-side-menu-content>

        <ion-side-menu side="left">
          <ion-header-bar class="bar-positive">
          </ion-header-bar>
          <ion-content>
            <div class="menu-profile-image text-center">
              <div class="profile-image"></div>
              <p class="name">Mike Donahue</p>  
            </div>
            <ion-list>
              <div class="menu-list">
                <a class="item-icon-left" ng-click="browse()">
                  <ion-item nav-clear menu-close class="item-nav">
                    <i class="icon ion-ios-list-outline"></i>
                    Browse Classes
                  </ion-item>
                </a>
                <a class="item-icon-left" ng-click="studentSchedule()">
                  <ion-item nav-clear menu-close class="item-nav">
                    <i class="icon ion-calendar"></i>
                    My Schedule
                  </ion-item>
                </a>
                <a class="item-icon-left" ng-click="profile()">
                  <ion-item nav-clear menu-close class="item-nav">
                    <i class="icon ion-person"></i>
                    Profile
                  </ion-item>
                </a>
                <a class="item-icon-left" ng-click="logout()">
                  <ion-item nav-clear menu-close class="item-nav">
                    <i class="icon ion-arrow-left-a"></i>
                    Logout
                  </ion-item>
                </a>
              </div>
            </ion-list>
          </ion-content>
        </ion-side-menu>
      </ion-side-menus>
    </div>
  </body>
</html>
