<ion-view class="login" hide-nav-bar="true" can-swipe-back="false">
  <ion-content class="auth-container">
    <div class="row responsive-md auth-padding">
      <div class="login-logo text-center">
        <div class="logo">miyagi</div>
      </div>
      <div class="col">
        <button class="button button-light button-block social-login-button" ng-click="facebookLogin()">
          <div class="circle-overlay circle"><i class="icon white social-icon ion-social-facebook"></i></div>
          LOGIN VIA FACEBOOK
        </button>
        <p class="text-center white spacer-lg"><strong>- or -</strong></p>
        <div class="list">
          <label class="item item-input bare">
          <!-- We need to add email address to user schema and update user.username to user.email -->
            <i class="icon white ion-ios-locked-outline"></i>
            <input type="text" class="text-center" placeholder="USERNAME" name="username" ng-model="user.username">
          </label>
          <label class="item item-input bare">
            <i class="icon white ion-ios-email-outline"></i>
            <input type="password" class="text-center" placeholder="PASSWORD" name="password" ng-model="user.password">
          </label>
          <button name="login" class="button button-light button-outline button-block" ng-click="login()">
            LOGIN
          </button>
        </div>
      </div>
    </div>
  </ion-content>
  <div class="bar-footer buttons transparent">
    <div class="row">
      <div class="col col.50">
        <a ui-sref="signUp">
          <button class="button button-large button-stable button-block account-button">Create Account</button>
        </a>
      </div>
      <div class="col col.50"><button class="button button-large button-stable button-block password-button">Forgot Password?</button></div>
    </div>
  </div>
</ion-view>
