// Images
// =================

.prof-circle {
  //ultimately overwrite this background-image with angular
  background-image: url(../img/sd.png);
  background-size: 80px;
  background-color: #FFF;
  margin: -50px 0 0 20px;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  border: solid 3px #FFF;
  width: 84px;
  height: 84px;
  z-index: 100;
}

.row.banner{
  //ultimately overwrite this background-image with angular
  background-image: url(http://farm3.static.flickr.com/2222/2260860517_e92b1d0f00.jpg?v=0);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding:0;
  height:200px; 
  background-color:#FFF;
}

.row.describe{
  padding: 0;
  background-color: #FFF;
}

.row.describe .col{
  background-color:#FFF;
}

.rate h5{
  background: #4A90E2;
  border-radius: 4px;
  padding: 0.3em 0.9em;
  width: inherit;
  display: inline;
}

.row.triangle{
  padding: 0;
}

.row.triangle p{
  margin:5px 0 0 10px;
  display: inline;
}

.row.triangle h6{
  margin: 4px 0 0 5px;
}

.triangle{
  width: 100%;
  background-color: #FFF;
}

.browse-cover {
  margin: 0;
  padding: 0;
  border: none;
}