// Buttons
// =================

.button {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.button.button-block[name=login],
.button.button-block[name=account] {
  margin-top: 25px;
}

.button.button-light.button-outline.activated:active,
.button.button-light.button-outline.activated {
  color: #333;
  background-color: white;
}

.bar .button {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.button-block.account-button {
  background-color: $theme-green;
  border-color: $theme-blue;
  color: white;
}

.button-block.password-button {
  background-color: $theme-light-blue;
  border-color: $theme-blue;
  color: white;
}
 
.button-block.account-button:hover,
.button-block.password-button:hover,
.button-action:hover {
  color: white;
}

.button-block.password-button:active,
.button-block.password-button.activated {
  color: white;
  background-color: $theme-light-blue;
}

.button-block.account-button:active,
.button-block.account-button.activated {
  color: white;
  background-color: $theme-green;
}

.button.social-login-button:hover {
  color: $theme-blue;
}

.button-toggle {
  height: 30px;
  min-height: 30px;
  line-height: 15px;
}

.button-toggle-border {
  border-left: none;
}

.button-stable.active {
  background-color: #b2b2b2;
}

.button-action {
  background-color: $theme-green;
  color: white;
  border: none;
}

// Footer action button
.bar-action-button {
  background-color: $theme-green;
  border: none;
}

.button-title {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
  margin: 0 10px;
  min-width: 30px;
  height: 43px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 44px;
}
