// Icons
// ===================

.item .icon, i.social-icon {
  color: white;
}

.item-input .icon {
  font-size: 20px;
}

.item .ion-ios-upload-outline{
  color: $theme-green;
}

i.ion-star, i.ion-ios-star-half, i.ion-ios-star-outline{
  color: $theme-orange;
}

.row.triangle.rating p.adjust{
  margin-left:-1px;
}

.item-icon-left .icon {
  font-size: 24px;
}

.action-arrow .icon {
  color: #ccc;
  margin-left: 15px;
  font-size: 1.3rem;
}
