// Icons
// ===================

.item .icon, i.social-icon {
  color: white;
}

.item-input .icon {
  font-size: 20px;
}

.item .ion-ios-upload-outline{
  color: $theme-green;
}

.item-icon-left .icon {
  font-size: 24px;
}
