// Typography
// ===================

// Colors
.white {
  color: white;
}

@font-face {
  font-family:"Fontastique";
  src:url("Fontastique.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}

// Fonts
.logo {
  font-family: "Fontastique";
  font-weight: 900;
  color: white;
  font-size: 64px;
}

// Alignment
.text-center {
  text-align: center;
}