// Typography
// ===================

// Colors
.white {
  color: white;
}

// Fonts
.logo {
  font-family: 'Overlock', cursive;
  font-weight: 900;
  color: white;
  font-size: 46px;
}

// Alignment
.text-center {
  text-align: center;
}