// Override Of Ionic Default
// ======================

// Links
a {
  text-decoration: none;
}

a {
  padding: 0 !important;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 100px;
  color: #FFFFFF;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 72px;
  color: #FFFFFF;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
}

h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #3C4F68;
}

h5 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
}

h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #009A9A;
}

.item h4{
  @extend h4;
  display:block;
  clear:both;
}

.item h5{
  @extend h5;
  display:block;
  clear:both;
}

.item h6{
  @extend h6;
}

// List
// -------
.list {
  padding-top: 0;
  margin-bottom: 0;
}

// Buttons
// -------------
.button .icon {
  vertical-align: middle;
}

.reset-space{
  padding: 0;
  margin: 0;
}

.bar.bar-positive {
  background-color: $theme-blue;
  background-image: none;
  border: none;
}

.tabs-striped .tabs {
  padding-top: 12px;
  border: none;
}
