// Colors
// -------------------------------
$theme-blue: #3c4f68;
$theme-green: #009a9a;
$theme-light-blue: #4a90e2;
$theme-orange: #E26A21;

// Base
// -------------------------------
$auth-background-color: #3c4f68;

// Forms
// -------------------------------
$bare-border-color: #647485;
