<ion-view class="has-header" hide-back-button="true" view-title="Manage Classes">
  <ion-content>
    <ion-list class="list-with-toggle" can-swipe="listCanSwipe">
      <ion-item class="class" ng-repeat="class in allClasses">
        <ion-option-button class="button-stable" ng-click="editClass(class._id)">Edit</ion-option-button>
        <ion-option-button class="button-assertive" ng-click="deleteClass(class._id)">Delete</ion-option-button>
        <div class="row">
          <div class="col col-75">
            <div class="row">
              <h4 ng-click="viewClass(class)">{{ class.name }}</h4>
            </div>
            <div class="row triangle rating">
              <h6>{{ class.date | date:"MM-dd-yy"}} @ {{ class.start_time | date:"h:mma"}}</h6>
            </div>
          </div>
          <div class="col col-25 rate rate-profile">
            <div>
              <h5>${{ class.rate }}</h5>
              <span class="action-arrow"><i class="icon ion-chevron-left"></i></span>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
<div class="bar bar-footer bar-action-button">
  <div ng-click="addClass()" class="button-title">New Class</div>
</div>
