<h1>User Settings</h1>
<form> 
  <div class="list">
    <label class="item item-input">
      <input type="text" placeholder="First Name" ng-model="user.first_name">
    </label>
    <br>
    <label class="item item-input">
      <input type="text" placeholder="Last Name" ng-model="user.last_name">
    </label>
    <br>
    <label class="item item-input">
      <input type="text" placeholder="Username" ng-model="user.username">
    </label>
    <br>
    <label class="item item-input">
      <input type="text" placeholder="Location" ng-model="user.location">
    </label>
    <br>
    <label class="item item-input">
      <input type="text" placeholder="Picture" ng-model="user.picture">
    </label>
    <br>
    <label class="item item-input">
      <textarea placeholder="Bio" ng-model="user.bio"></textarea>
    </label>
    <br>
    <button ng-click="saveUserData()">
      Save
    </button>
  </div>
</form>
