<ion-view class="has-header" view-title="Manage Schedule">
  <ion-content>
    <div class="list row" ng-repeat="class in classes">
      <div class="col col-67">
        <h4>{{ class.name }}</h4>
        <div>{{ class.description }}</div>
        <div>{{ class.date }}</div>
        <div>{{ class.time }}</div>
        <div>{{ class.teacher_name }}</div>
        <div>end_time: {{ class.end_time }}</div>
        <div>truelocation: {{ class.truelocation }}</div>
        <div>rate: {{ class.rate }}</div>
        <div>start_time: {{ class.start_time }}</div>
      </div>
      <div class="col col-center">
        <button class="button button-positive" ng-click="review(class)">Review</button>
      </div>
    </div>
  </ion-content>
</ion-view>