<ion-view class="has-header" hide-back-button="true" view-title="Schedule">
  <div class="tabs-striped tabs-top">
    <div class="tabs">
      <button ng-click="studentToggleRoute()" class="button button-outline button-stable active button-toggle">
        Student
      </button>
      <button ng-click="teacherToggleRoute()" class="button button-outline button-stable button-toggle">
        Teacher
      </button>
    </div>
  </div>
  <ion-content>
    <div class="list row toggle-row" ng-repeat="class in classes">
      <div class="col col-67">
        <h4>{{ class.name }}</h4>
        <div>{{ class.description }}</div>
        <div>{{ class.date | date:"MM-dd-yy '@' h:mma" }}</div>
        <div>{{ class.teacher_name }}</div>
        <div>end_time: {{ class.end_time | date:"MM-dd-yy '@' h:mma" }}</div>
        <div>truelocation: {{ class.truelocation }}</div>
        <div>rate: {{ class.rate }}</div>
        <div>start_time: {{ class.start_time | date:"MM-dd-yy '@' h:mma" }}</div>
        <div class="row triangle rating">
          <div review-directive></div>
          <h6 style="margin: 8px 0 0 5px">{{ class.reviews.length || 0 }}</h6>
        </div>
      </div>
      <div class="col col-center">
        <button class="button button-positive" ng-click="review(class)" ng-show="class.reviewable">Review</button>
      </div>
    </div>
  </ion-content>
</ion-view>